#container{
  display: flex;
  flex-wrap: nowrap ;
}
#left, #right, #bottom {
  display: flex;
  width: 32.67%;
  height: auto;
  background-color: gray;
}
#right {
  display: flex;
  flex-direction: column;
}
#left-separator, #right-seperator {
  width:1%;
  height:auto;
  background: url('images/column.png') repeat;  
}
@keyframes enlarge {
  0%   {transform:scale(1)}
  20%   {transform:scale(1.05)}
  40%   {transform:scale(1.08)}
  60%   {transform:scale(1.04)}
  80%   {transform:scale(1)}
  100%   {transform:scale(1.05)}
}
#big-cookie-container {
  position: relative;
  width: 100%;
  padding: 10%;
}
#big-cookie {
  position: absolute;
  top: 6em;
  left: 7em;
  width: 235px;
  height: 41%;
  background: url('images/cookie.png') no-repeat;  
  background-size: 235px;
  background-color: red;
  border-radius: 127px;
  cursor: pointer;
}
#big-cookie:hover {
  animation-name: enlarge;
  animation-duration: .3s;
  transform: scale(1.05);
}
.producer {
  display: flex;
  position: relative;
  width:100%;
  background: url('images/frameProducer.jpg') no-repeat center;
  background-size:100%;
  padding: 21px 0;
  height:50px;
  cursor: pointer;
}
.producer > span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  padding: 1px;
}
.producer:hover {
  box-shadow: 0px 0px 16px #fff inset, 0px 0px 1px #000;
}
.name {
  position: absolute;
  top:1em;
  left:10em;
  background: url('images/cursor.png') no-repeat center;
  background-size:100%;
}
.price {
  position: absolute;
  top:1em;
  left:20em;
}
.owned {
  position: absolute;
  top:1em;
  right:1em;
}
.produced {
  position: absolute;
  top:2em;
  left:1em;
}
.per-sec {
  position: absolute;
  top:1em;
  left:3em;
}
.active {
  font-weight: bold;
}
#save-data {
  background-color: red;
  width:100px;
  height:50px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#buy-sell-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
.buy-sell-con {
  display: inline-block;
}
#buy, #sell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  top: 0px;
  left: 0px;
  width: 47px;
  height: 20px;
  background-color: red;
  cursor: pointer;
}
#store1, #store10, #store100 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height:30px;
  background-color: red;
  cursor: pointer;
}
